/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    
  }
}

/* Float to the left on screens that are equal to or greater than 769px wide */
@media (min-width: 600px) {
	.float-right-lg {
	  float: right;
	  margin-right: 1%;
	  max-height: 20vh;
	}
  }


#savedPairings {
	margin-top: 5px; 
	margin-left: 2%; 
	width: 33%;
}

  
.background-photo{
	width: 100%;
}

.button:hover {
	background-color: lightblue;
	color: white;
}

#saveFaves:hover {
	background-color: lightblue;
	color: white;
}

#clear:hover {
	background-color: lightblue;
	color: white;
}

h1 {
	font-family: 'Permanent Marker', cursive, sans-serif;
	text-align: center;
	color:white;
	font-size: 4em;
	text-shadow: 2px 2px black;
}

h2 {
	font-family: 'Permanent Marker', cursive, sans-serif;
	text-align: center;
	font-size:2em;
	color:white;
	text-shadow: 2px 2px black;
	font-weight: 400;
}

h3 {
	font-size: 1.5em;
}

.is-ghost {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

#saveBeerFaves{
	margin-top:2%;
}

.footer {
  padding: 1%;
}

h4 {
	text-align: center;
	font-size:1em;
	color:white;
	font-weight: 400;
}

h4 link {
	text-underline: none;
	color: darkslategray;
}

h4 link hover {
	text-underline: none;
	color: darkslateblue;
}

.pushDown {
	margin-bottom: 5%;
}